<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @offer.body %>
</p>
<p>
Słów: <%= @offer.body.split(' ').size %>
Znaków <%= @offer.body.size %>
</p>

<p>
  <strong>Email:</strong>
  <%= @offer.email %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
